<!-- register.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup - My Blog</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <!-- Header -->
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}"  >Home</a></li>
                <li><a href="{% url 'login' %}" >Login</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main content -->
    <main>
        <div class="form-container">
            <h2 >Signup</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Signup</button>
            </form>
            <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
        </div>
    </main>

   

</body>
</html>
